<div class="w-80 sm:w-96">
  <div class="overflow-hidden bg-white rounded-lg shadow-md">
    <div class="p-1 m-1">
      <img
        src="{{ post.photo.url }}"
        alt="Placeholder"
        class="object-cover w-full h-48 rounded-t-xl"
      />
    </div>

    <div class="flex flex-col p-4 leading-none align-bottom">
      <div class="flex flex-row items-center justify-between">
        <a
          class="flex items-center text-black no-underline hover:underline"
          routerLink="/profile/{{ post.postedBy }}"
        >
          <img
            alt="profilePicture"
            class="block rounded-full w-7 h-7"
            src="{{ post.profilePicture.url }}"
          />
          <span class="ml-2 text-sm">
            {{ post.postedBy }}
          </span>
        </a>
      </div>
    </div>

    <div class="col-span-3 row-span-1">
      <header
        class="flex items-center justify-between p-2 leading-tight md:p-4"
      >
        <h1 class="text-lg">
          <p class="text-black">
            {{ post.caption }}
          </p>
        </h1>
        <p class="text-sm text-grey-darker">{{ timeFromNow(post.created) }}</p>
      </header>
    </div>
  </div>
</div>
