<div class="max-w-xs mx-auto my-2">
  <div class="overflow-hidden bg-white rounded-lg shadow-md">
    <div class="p-1 m-1">
      <!-- Posts photo here -->
      <img
        src="{{ post.photo.url }}"
        alt="Placeholder"
        class="object-cover w-full h-48 rounded-t-xl"
      />
    </div>

    <div class="flex flex-col p-2 leading-none align-bottom md:p-4">
      <div class="flex flex-row items-center justify-between">
        <a
          class="flex items-center text-black no-underline hover:underline"
          routerLink="/profile/{{ post.postedBy }}"
        >
          <!-- users profile picture here; also give this img a height and width of 32-->
          <img
            alt="Placeholder"
            class="block rounded-full w-7"
            src="{{ post.profilePicture.url }}"
          />
          <span class="ml-2 text-sm">
            {{ post.postedBy }}
          </span>
        </a>
      </div>
    </div>

    <div class="col-span-3 row-span-1">
      <header
        class="flex items-center justify-between p-2 leading-tight md:p-4"
      >
        <h1 class="text-lg">
          <a class="text-black no-underline hover:underline" href="#">
            {{ post.caption }}
          </a>
        </h1>
        <p class="text-sm text-grey-darker">{{ timeFromNow(post.created) }}</p>
      </header>
    </div>
  </div>
</div>
