<ng-container *ngIf="user">
  <article class="flex flex-col p-4 text-white bg-gray-800">
    <div class="flex gap-4">
      <img
        src="{{ user.profilePicture.url }}"
        class="object-cover w-20 h-20 rounded-full"
        alt="username"
      />
      <div>
        <h2 class="block text-3xl font-light leading-relaxed">
          {{ user.username }}
        </h2>
        <p class="flex text-base">
          <span class="mr-1 font-bold">{{ user.posts.length }} </span> Posts
        </p>
      </div>
    </div>
    <p class="text-base">{{ user.introduction.slice(0, 80) }}</p>
  </article>

  <article
    class="grid grid-cols-1 gap-2 my-3  lg:h-screen lg:place-items-start place-items-center lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4"
  >
    <app-post-card
      *ngFor="let post of user.posts"
      [post]="post"
    ></app-post-card>
  </article>
</ng-container>
