<div class="h-screen pt-10 login">
  <form
    #loginForm="ngForm"
    (ngSubmit)="login()"
    class="p-10 mx-auto bg-white bg-opacity-25 rounded w-80"
  >
    <p class="text-lg font-bold text-center text-white">LOGIN</p>

    <div class="mt-2">
      <label class="text-sm text-white" for="username">Username</label>
      <input
        [(ngModel)]="user.username"
        class="w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white"
        type="username"
        id="username"
        name="username"
        placeholder="Enter your username"
        required
        autocomplete="off"
      />
    </div>

    <div class="mt-2">
      <label class="text-sm text-white">Password</label>
      <input
        [(ngModel)]="user.password"
        class="w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white"
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        required
        autocomplete="off"
      />
    </div>

    <div class="flex items-center justify-between mt-4">
      <button
        class="px-4 py-1 font-light tracking-wider text-white bg-gray-900 rounded hover:bg-gray-800"
        type="submit"
      >
        Login
      </button>
      <a
        class="text-sm font-bold text-white align-baseline hover:text-red-400"
        href="/"
        >Forgot password?</a
      >
    </div>
    <div class="text-center">
      <a
        routerLink="/register"
        class="text-sm font-light align-baseline hover:text-red-400"
      >
        Create an account
      </a>
    </div>
  </form>
</div>
